<html ng-app="myApp">

<body ng-controller="mainCtrl">
	<input ng-model="thisFilter.name" />
	<input ng-model="thisFilter.phone" />
	<select ng-model="thisFilter.dateEmployed">
		<option value="">--</option>
		<option value="2014">The year 2014</option>
		<option value="2015">The year2015</option>
	</select>
	<div ng-repeat="person in employees | filter: thisFilter">
		<span><strong>{{person.name}}</strong></span>
		<span>{{person.email}}</span>
		<span>{{person.dateEmployed}}</span>
		<span>{{person.phone}}</span>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
</body>

</html>